@mixin responsiveColumnLeft{
  @media screen and (min-width:992px) {
    width: 560px;
    margin-left: auto;
    padding-right: 3rem;
  }
  @media screen and (min-width:1200px) {
    width: 470px;
  }
  
}