$colorPrimary:#285992;
$colorSecondary:#91d8f7;
$colorTertiary:#1eb8ec;
$colorQuartary:#69acca;
$colorPurple:#700087;
$colorText:#373435;
$btnBorder:#fefefe;
$colorWhite:#ffffff;
$colorBlack:#000;

// FONT
$fontPrimary:"Poppins", sans-serif;;
$fontSecondary:"Raleway", sans-serif;


$defaultFontSize: 1.7rem;

$transition : 0.4s;

$boxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$boxShadowTwo:0 0 30px rgba(0,0,0,.18);