.innerHeaderArea {
    margin-top: 8rem;
    .container{
        @include respond (maxWidth992){
            max-width: 100%;
        }
    }
    .innerTabs {
        .navArea {
            display: grid;
            padding: 0;
            margin: 0;
            grid-template-columns: repeat(5, 1fr);
            gap: 2px;

            .navItems {
                .navLink {
                    text-align: center;
                    display: block;
                    &.active {
                        border-top: 2px solid #fff;
    box-shadow: 0 -30px 0 $colorSecondary;
                        .navTab {
                            background: $colorPrimary;
                            color: #fff;
                            h6{
                                color: $colorWhite;
                            }
                            img{
                                filter: brightness(100);
                            }
                        }
                    }
                    border-top: 2px solid #fff;
    box-shadow: 0 -30px 0 $colorPrimary;

                    .navTab {
                        background: $colorSecondary;
                            height: 100%;
                            padding: 3rem 0;
                        h6{
                            font-size: 2rem;
                            color: $colorPrimary;
                             @include respond (maxWidth768){
                                height: 1.6rem;
                            }
                        }
                        img {
                            height: 7.5rem;
                            display: inline-block;
                            margin-bottom: 2rem;
                            @include respond (maxWidth768){
                                height: 3.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
}