.heroSection {
    .heroGrid {
        display: grid;
        grid-template-columns: 40% 60%;
        height: calc(100vh - 53px);
        background: $colorSecondary;
        overflow: hidden;
        @include respond (maxWidth1200) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond (maxWidth992){
            grid-template-columns: auto;
        } 

        &__Item {
            height: 100%;

            .heroContent {
                @include responsiveColumnLeft();
                height: 100%;
                @include respond (maxWidth992){
                    text-align: center;
                    padding: 3rem 0;
                }

                h1 {
                    font-size: 3.6rem;
                    text-transform: uppercase;
                    color: $colorPrimary;
                    font-weight: 600;
                    line-height: .9;
                    @include respond (maxWidth1200){
                        font-size: 2.6rem;
                    }

                    span {
                        font-size: 7.2rem;
                        font-weight: 900;
                    @include respond (maxWidth1200){
                        font-size: 4.6rem;
                    }
                    }
                }

                .breakContent {
                    margin-top: 20px;
                    margin-bottom: 1rem;
                    color: $colorPrimary;
                    max-width: 600px;
                    border-bottom: 4px solid $colorPrimary;
                    display: inline-block;
                    padding-right: 1rem;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -4px;
                        left: -999%;
                        background: $colorPrimary;
                        width: 1000%;
                        height: 4px;
                        @include respond (maxWidth992){
                    display: none;
                }
                    }

                    h2 {
                        font-family: "Playfair", serif;
                        font-style: oblique;
                        font-size: 2.9rem;
                    }
                }
            }

            .imgWrapper {
                height: 100%;
                @include respond (minWidth992){
                    height: calc(100vh - 53px);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-position: top;
                }
            }
        }
    }

    .path {
        width: 100%;
    }
}