.townHallVector{
    .str0 {stroke:#FEFEFE;stroke-width:20.8307}
.str2 {stroke:#00B4FB;stroke-width:20.8307}
.str4 {stroke:#244FDA;stroke-width:20.8307}
.str1 {stroke:#2781F4;stroke-width:20.8307}
.str3 {stroke:#305AD9;stroke-width:20.8307}
.fil5 {fill:none}
.fil6 {fill:#FEFEFE}
.fil0 {fill:#373435}
.fil1 {fill:#00B4FB}
.fil3 {fill:#244FDA}
.fil2 {fill:#2781F4}
.fil4 {fill:#305AD9}
.fnt1 {font-weight:normal;font-size:194.445px;font-family:'Poppins'}
.fnt11 {font-weight:normal;font-size:194.445px;font-family:'Poppins'}
.fnt13 {font-weight:normal;font-size:194.445px;font-family:'Poppins'}
.fnt15 {font-weight:normal;font-size:194.445px;font-family:'Poppins'}
.fnt17 {font-weight:normal;font-size:194.445px;font-family:'Poppins'}
.fnt19 {font-weight:normal;font-size:194.445px;font-family:'Poppins'}
.fnt3 {font-weight:normal;font-size:194.445px;font-family:'Poppins'}
.fnt5 {font-weight:normal;font-size:194.445px;font-family:'Poppins'}
.fnt7 {font-weight:normal;font-size:194.445px;font-family:'Poppins'}
.fnt9 {font-weight:normal;font-size:194.445px;font-family:'Poppins'}
.fnt0 {font-weight:bold;font-size:194.445px;font-family:'Poppins'}
.fnt10 {font-weight:bold;font-size:194.445px;font-family:'Poppins'}
.fnt12 {font-weight:bold;font-size:194.445px;font-family:'Poppins'}
.fnt14 {font-weight:bold;font-size:194.445px;font-family:'Poppins'}
.fnt16 {font-weight:bold;font-size:194.445px;font-family:'Poppins'}
.fnt18 {font-weight:bold;font-size:194.445px;font-family:'Poppins'}
.fnt2 {font-weight:bold;font-size:194.445px;font-family:'Poppins'}
.fnt4 {font-weight:bold;font-size:194.445px;font-family:'Poppins'}
.fnt6 {font-weight:bold;font-size:194.445px;font-family:'Poppins'}
.fnt8 {font-weight:bold;font-size:194.445px;font-family:'Poppins'}

}
