@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
  font-family: Chawp;
  src: url(../../font/chawp.otf);
}

body {
  font-family: $fontPrimary;
  font-size: $defaultFontSize;
  color: $colorText;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontPrimary;
}



.headingPrimary {
    font-size: 4.8rem;
    font-weight: bold;
        color: $colorPrimary;
        line-height: 1;

    span {
        font-weight: 300;
        &.d-block{
          font-size: 60%;
        }
    }
}

.headingSecondary {
  line-height: 1.25em;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  color: $colorPrimary;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    border-radius: 10px;
    background: $colorPrimary;
    bottom: -10px;
    left: 0;
  }
}

.headingTertiary{
  line-height: 1;
  text-transform: capitalize;
  font-size: 20px;
  margin: 1.5rem 0;
  font-weight: 700;
  color: $colorPrimary;
  @include respond(maxWidth992) {
    margin-bottom: 20px;
    font-size: 20px;
  }

  @include respond(maxWidth768) {
    margin-bottom: 20px;
    font-size: 20px;
  }

  @include respond(maxWidth575) {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.headingQuartery{
  line-height: 1.25em;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: normal;
  color: $colorPrimary;
  @include respond(maxWidth992) {
    margin-bottom: 20px;
    font-size: 18px;
  }

  @include respond(maxWidth768) {
    margin-bottom: 20px;
    font-size: 18px;
  }

  @include respond(maxWidth575) {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.headingFive {
  font-size: 1.6rem;
  font-weight: 300;
  color: $colorPrimary;
  text-align: center;
}

.headingSix {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: $colorPrimary;
}