section[id] {
    display: none;
    transition: $transition;
}

section.active {
    display: block;
}

.aboutpath {
    .invitation-shape {
        margin: -13rem 0;
    }

    .pathAbb {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;

        @include respond (maxWidth992) {
            margin-bottom: 3rem;
        }

        @include respond (maxWidth768) {
            grid-template-columns: repeat(2, 1fr);

            br {
                display: none;
            }

            h6 {
                text-align: center;
            }
        }

        @include respond (minmax992-12) {
            grid-template-columns: repeat(2, 1fr);

            br {
                display: none;
            }

            h6 {
                text-align: center;
            }
        }

        .abbCard {
            background: $colorSecondary;
            padding: 5px;

            .title {
                text-align: center;
                font-weight: bold;
                font-size: 1.6rem;
                line-height: 1.7;
            }

            .withArr {
                font-size: 1.5rem;

                span {
                    color: #f5811e;
                }
            }
        }
    }
}

.diffPath {
    background: $colorSecondary;

}

.pathNeed {
    .pathNeedGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-auto-rows: 280px;

        @include respond (maxWidth992) {
            margin-bottom: 3rem;
            grid-template-columns: repeat(1, 1fr);
        }

        &__Item {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 3px solid rgba($colorSecondary, $alpha: 1);
            border-radius: 1.6rem;
            overflow: hidden;

            span {
                width: 67%;
                margin-left: auto;
                background: rgba($colorPrimary, $alpha: 1);
                height: 100%;
                color: $colorWhite;
                padding: 0 2rem 0 12rem;
                font-weight: 700;
                display: grid;
                place-content: center;
                clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
            }
        }
    }
}

.pathResult {
    background: $colorSecondary;

    .imgBox {
        aspect-ratio: 16 / 9;
    }

    .pathResultGrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.5rem;
        margin-top: 2rem;

        @include respond (maxWidth768) {
            grid-template-columns: repeat(2, 1fr);
        }

        &__Item {
            background: $colorWhite;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1.5rem;
            text-align: center;
            aspect-ratio: 1 / 1;
        }
    }
}

.howPathWork {
    overflow: hidden;

    .workGrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.5rem;
        position: relative;
        background-image: linear-gradient(0deg, $colorPrimary 50%, $colorWhite 50%);

        @include respond (maxWidth768) {
            grid-template-columns: repeat(2, 1fr);
        }

        &::before {
            content: "";
            background-image: linear-gradient(0deg, $colorPrimary 50%, $colorWhite 50%);
            position: absolute;
            bottom: 0;
            left: calc(-100% + 1px);
            width: 100%;
            height: 100%;
        }

        &::after {
            content: "";
            background-image: linear-gradient(0deg, $colorPrimary 50%, $colorWhite 50%);
            position: absolute;
            bottom: 0;
            right: calc(-100% + 1px);
            width: 100%;
            height: 100%;
        }

        &__Item {
            border-radius: 100%;
            aspect-ratio: 1 / 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $colorSecondary;
            text-align: center;
            padding: 0 2rem;
            border: 2px solid $colorPrimary;
            position: relative;

            &::before {
                content: "";
                background: transparent;
                border: 1.5px solid $colorWhite;
                position: absolute;
                border-radius: 100%;
                top: 50%;
                left: 50%;
                width: calc(100% - 2rem);
                height: calc(100% - 2rem);
                transform: translate(-50%, -50%);
            }
        }
    }
}

.howPathWorkPic {
    background: $colorPrimary;
    padding-top: 3rem;
}

.pathEmpowernment {
    background: $colorSecondary;

    .pathEmpowernmentGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        &__Item {
            background: $colorTertiary;
            aspect-ratio: 1 / 1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 15px;
            position: relative;

            &::before {
                content: "";
                background: transparent;
                border: 1.5px solid $colorWhite;
                position: absolute;
                top: 50%;
                left: 50%;
                width: calc(100% - 2rem);
                height: calc(100% - 2rem);
                transform: translate(-50%, -50%);
            }

            span {
                color: $colorWhite;
            }
        }
    }

    .homeStretchGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;

        @include respond (maxWidth768) {
            grid-template-columns: repeat(1, 1fr);
        }

        &__Item {
            padding: 1rem;
            background: $colorWhite;

            &:first-child {
                .content {
                    background: rgba($colorTertiary, $alpha: 0.2);
                    padding: 2rem;

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .heads {
            position: relative;
            text-align: center;

            &::before {
                content: "";
                background: $colorPrimary;
                height: 3px;
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
            }

            h3 {
                display: inline-block;
                position: relative;
                z-index: 1;
                color: $colorWhite;
                font-size: 1.4rem;

                &::before {
                    content: "";
                    background: $colorPrimary;
                    border: 1px solid $colorPrimary;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    padding: 0 70px;
                    transform: translateX(-50%);
                    border-radius: 30px;
                }
            }
        }
    }
}

.pathBackground {
    .pathbgGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include respond (maxWidth768) {
            grid-template-columns: repeat(1, 1fr);
        }

        gap: 1.5rem;

        &__Item {
            &:last-child {
                grid-column: span 2;
            }

            background: $colorSecondary;
            padding: 2rem;
        }
    }
}

.pathForward {
    background: $colorPrimary;

    .forwardCard {
        background: $colorWhite;
        border-radius: 1.6rem;
        overflow: hidden;

        .listWrapper {
            padding: 1rem;
        }

        .headingQuartery {
            color: $colorWhite;
            background: $colorTertiary;
            text-align: center;
            padding: 1rem;
            font-weight: bold;
        }

        li {
            color: rgba($colorPrimary, $alpha: 1);
            position: relative;

            &:not(:last-child) {
                border-bottom: 3px solid rgba($colorTertiary, $alpha: 1);
                margin-bottom: 1rem;
            }
        }
    }
}

.progress360 {
    background: rgba($colorSecondary, $alpha: 1);

    @include respond (minWidth992) {

        .col-lg-5 {
            background: linear-gradient(90deg, transparent 30%, rgba($colorWhite, $alpha: 1) 30%, rgba($colorWhite, $alpha: 1) 80%, transparent 80%);
        }

        .buddyBook {
            position: relative;
            height: 100%;

            .cover {
                width: 49%;
                position: absolute;
                left: 0;
                top: 10rem;
            }

            .page {
                width: 49%;
                position: absolute;
                bottom: 10rem;
                right: 0;
            }
        }
    }

    @include respond (maxWidth992) {
        .cover {
            margin-bottom: 2rem;
        }
    }

    .iHead {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .iPic {

        img {
            width: 15rem;
        }
    }

    .grid360 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;

        @include respond (maxWidth768) {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 2rem;
        }

        &__Item {
            background: $colorWhite;
            border-radius: 0 60px 60px 0;
            padding: 2.5rem 2.5rem 2.5rem 0;
            position: relative;

            &::before {
                content: "";
                background: rgba($colorWhite, $alpha: 1);
                position: absolute;
                left: 0;
                top: 0;
                width: 1000%;
                height: 100%;
                transform: translateX(-100%);
            }
        }
    }
}

.learningbenefits {
    @include respond (minWidth992) {
        .centeredGal {
            position: absolute;
            top: 59%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .traits4c {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: rgba($colorTertiary, $alpha: 1);
        border-radius: 20px;

        span {
            color: rgba($colorWhite, $alpha: 1);
            display: inline-block;
            padding: 5px 10px;
        }
    }

    .gallerGrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0.5rem;
        width: 37.5rem;
        position: relative;



        .galler {
            overflow: hidden;

            img {
                height: 100%;
                transition: $transition;

                &:hover {
                    transform: scale(1.05);
                }
            }

            &:nth-child(1) {
                grid-column: span 2;
                grid-row: span 2;
            }

            &:nth-child(2) {
                grid-column: 1 / span 2;
                grid-row: 3 / span 2;
            }

            &:nth-last-child(1) {
                grid-column: 5 / 6;
                grid-row: 3 / span 2;
            }

            &:nth-last-child(2) {
                grid-column: 5 / 6;
                grid-row: 1 / span 2;
            }
        }
    }

    .learningContent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20%;
        position: relative;

        @include respond (maxWidth992) {
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
        }

        &__Item {
            background: rgba($colorWhite, $alpha: 1);
            padding: 4rem 2rem;
            border-radius: 3rem;
            box-shadow: $boxShadowTwo;
            text-align: center;
            position: relative;

            @include respond (maxWidth992) {
                padding: 3rem !important;
                border: 4px solid var(--bgClr);
            }

            &::before {
                content: "";
                background: var(--bgClr);
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 3rem;
                z-index: -1;

                @include respond (maxWidth992) {
                    display: none;
                }
            }

            @include respond (minWidth992) {
                &:nth-child(1) {
                    padding-bottom: 10rem;

                    &::before {
                        top: -1rem;
                        left: -1rem;
                    }
                }

                &:nth-child(2) {
                    padding-bottom: 10rem;

                    &::before {
                        top: -1rem;
                        right: -1rem;
                    }
                }

                &:nth-child(3) {
                    padding-top: 10rem;

                    &::before {
                        bottom: -1rem;
                        left: -1rem;
                    }
                }

                &:nth-child(4) {
                    padding-top: 10rem;

                    &::before {
                        bottom: -1rem;
                        right: -1rem;
                    }
                }
            }
        }
    }
}

.joinMovement {
    .videoCard {
        position: relative;
        border-radius: 1.6rem;
        overflow: hidden;

        &:hover {
            .videoHead {
                background: rgba($colorPrimary, $alpha: 1);

                h3 {
                    color: rgba($colorWhite, $alpha: 1);
                }
            }
        }

        &::before {
            content: "\f04b";
            position: absolute;
            top: 1rem;
            right: 1rem;
            border: 2px solid rgba($colorWhite, $alpha: 1);
            color: rgba($colorWhite, $alpha: 1);
            font-family: 'FontAwesome';
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            display: grid;
            place-content: center;
            border-radius: 50%;
            padding-left: 2px;
            padding-bottom: 1.3px;

        }

        .videoHead {
            background: rgba($colorWhite, $alpha: 1);
            padding: 10px 10px;
            text-align: center;
            border-radius: 0 0 1.6rem 1.6rem;
            border: 2px solid rgba($colorPrimary, $alpha: 1);
            transition: $transition;

            h3 {
                color: rgba($colorPrimary, $alpha: 1);
                transition: $transition;
                font-weight: 600;
            }
        }
    }

    .linkWrapper {
        text-align: center;
        margin-top: 3rem;

    }

    .video-box {
        border: 15px solid rgba($colorPrimary, $alpha: 1);

        video {
            display: block;
        }
    }

    .img-box {

        &::before,
        &::after {
            content: "";
            background-image: url(../../images/sharp-bg.png);
            position: absolute;
            width: 15rem;
            aspect-ratio: 1 / 1;
        }

        &::before {
            bottom: 0;
            left: 0;
        }

        &::after {
            top: 0;
            right: 0;
        }

        .img-wrapper {
            z-index: 1;
            transform: scale(0.89, 0.86);
        }
    }
}

.joinEdleadership {
    .col-md-10 {
        position: relative;
    }

    .dateGrid {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        align-items: flex-end;
    }

    .date {
        text-align: center;

        span {
            display: inline-block;
            color: rgba($colorPrimary, $alpha: 1);
            font-weight: 700;
            font-size: 3rem;
            line-height: 1.1;
        }
    }

    .cmsLogo {
        width: 25rem;
        margin: auto;

        img {
            width: 15rem;
            display: block;
            margin: auto;
            margin-bottom: 1rem;
        }

        figcaption {
            color: rgba($colorPrimary, $alpha: 1);
            font-weight: 700;
            text-align: center;
            line-height: 1.1;
        }
    }

    .heading {
        text-align: center;

        h2 {
            font-family: "Playfair Display", serif;
            font-weight: normal;

                    font-size: 4rem;
            strong,
            span {
                font-weight: 700;
                
                @include respond (minWidth992) {
                    font-size: 55px;
                    margin: 0.5rem 0;
                }
            }
        }
    }
}
.immersiveSection{
    background: rgba($colorTertiary, $alpha: 1);
    .immCard{
        height: 100%;
        background: rgba($colorPrimary, $alpha: 1);
        border: 2px solid rgba($colorWhite, $alpha: 1);
        border-radius: 1.6rem;
        overflow: hidden;
        .pic{
            img{
                aspect-ratio: 16 / 10.6;
                object-fit: cover;
                object-position: center;
            }
        }
        .content{
            padding: 3rem 2rem;
            background: rgba($colorPrimary, $alpha: 1);
            border-top: 2rem solid rgba($colorWhite, $alpha: 1);
            p{
                color: rgba($colorWhite, $alpha: 1);
                font-weight: 700;
                text-align: center;
            }
        }
    }
}

.brochureSection{
    p{
        text-align: center;
        font-family: "Playfair Display", serif;
        font-size: 2.4rem;
        line-height: 1.2;
    }
    .linkTwo{
        text-align: center;
    }
}
.indiaMap{
    background: rgba($colorPrimary, $alpha: 1);
    .row{
        @include respond (maxWidth992){
            row-gap: 2rem;
        }
    }
    .childBox{
        border: 4px solid rgba($colorWhite, $alpha: 1);
        border-radius: 100%;
    }
    .contentBox{
        border: 2px solid rgba($colorWhite, $alpha: 1);
        padding: 1.5rem;
        @include respond (minWidth992){
            width: 85%;
        }
        border-radius: 1.6rem;
        &:first-child{
            margin-bottom: 2rem;
        }
        &:last-child{
            margin-left: auto;
        }
        p{
            color: rgba($colorWhite, $alpha: 1);
        }
    }
}